/* Methode DRY (Do not Repeat Yourself) */
.container{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.container2{
    width: 300px!important;
    display: flex;
    flex-wrap: wrap;
}

/* cas type */
.container div{   
    width: 150px;
    height: 50px;   
}

/* exceptions */
.w300{ width: 300px!important; }
.w600{ width: 600px!important; }
.h100{ height: 100px!important; }

/* couleurs */
.test{ background-color: #9931cc; }
.a{ background-color: #fe0000; }
.b{ background-color: #c0c0c0; }
.div1 {background-color: #fea500; }
.div2 {background-color: #f0807f; }
.div3 {background-color: #f1fff0; }
.div4 {background-color: #ffff01; }
.div5 {background-color: #008001; }